@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html{
--bg:#fff;
--textColor:#10101A;
--redColor:#DD003C;
--secondaryTextColor:#494F64;
--cardBg:#f7f7f7;
--formBg:#f7f7f7;
scroll-behavior: smooth;
}

html[data-theme="dark"]{
--bg:#121212;
--textColor:#fff;
--redColor:#F5807F;
--secondaryTextColor:#B6BAE1;
--cardBg:#232323; 
--formBg:#171717;
}


*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Poppins', sans-serif;
}

body {
width:100%;
background:var(--bg);
font-family: 'Poppins', sans-serif;
transition:0.8s;
}

nav{
background:var(--cardBg);
}

.navbar-brand h4{
color:var(--redColor) !important;
}

.navbar-toggler:hover{
outline:none;
}

#navbar{
transition:0.8s;
}

.nav-link {
color:var(--secondaryTextColor) !important;
}

.nav-link:hover {
color:var(--red) !important;
}


.btn-nav {
background:var(--redColor);
border-radius: 4px;
}

#themeToggler {
background:var(--textColor);
color:var(--bg);
}

#marker {
position:absolute;
bottom:8px;
background:var(--redColor);
height:4px;
width:0;
transition:0.3s;
}


#intro {
display: flex;
align-items:center;
height:100vh;
width:100%;
padding:0 40px;
background:url("https://www.pexels.com/photo/669996/download/?search_query=website%20background&tracking_id=c78g1q1r345") rgba(0,0,0,0.4);
background-repeat:no-repeat;
background-size: cover;
background-blend-mode: multiply;
}

#toTop {
display:none;
position: fixed;
bottom:10px;
right:10px;
background:var(--red);
color:var(--textColor);
z-index:10;
}

#intro h1{
color:var(--redColor);
}

#connect {
visibility:hidden;
position:absolute;
bottom:15%;
}

#connect img{
margin:2px;
background:#fff;
border-radius:8px;
box-shadow:  2px 2px 3px rgba(0,0,0,0.1), 
             -2px -2px 3px rgba(0,0,0,0.1);
}

#about {
padding:72px 40px 0 40px;
}

h2{
color:var(--textColor);
}

#about p{
font-size:1.25em;
color:var(--textColor);
}

#about img{
max-width:300px;
height:auto;
}


#skills h4{
color:var(--redColor);
}

.underline {
max-width:200px;
height:5px;
margin:10px auto;
background:var(--redColor);
}

#works {
padding:72px 40px 0 40px;
}

.card {
max-width:400px;
max-height:650px;
background:var(--cardBg);
}

.card img {
width:100%;
height:auto;
}

.card-title {
color:var(--textColor);
}

.card-text{
color:var(--secondaryTextColor);
}

#contact {
padding:72px 40px 0 40px;
}

.form-control {
border:0;
background: var(--formBg);
color:var(--secondaryTextColor);
transition:1s;
}

label {
color:var(--textColor);
}

.form-control:focus{
box-shadow:none;
background:var(--bg);
color:var(--secondaryTextColor);
border:2px solid rgba(231,27,82,0.5);
}

textarea {
resize:none;
}
 
#wave path{
fill:var(--bg);
transition:0.8s;
}
 
footer p{
font-family: 'Yellowtail', cursive;
font-size:1.25em;
padding-bottom:5px;
}
<style type="text/css">
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html{
--bg:#fff;
--textColor:#10101A;
--redColor:#DD003C;
--secondaryTextColor:#494F64;
--cardBg:#f7f7f7;
--formBg:#f7f7f7;
scroll-behavior: smooth;
}

html[data-theme="dark"]{
--bg:#121212;
--textColor:#fff;
--redColor:#F5807F;
--secondaryTextColor:#B6BAE1;
--cardBg:#232323; 
--formBg:#171717;
}


*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Poppins', sans-serif;
}

body {
width:100%;
background:var(--bg);
font-family: 'Poppins', sans-serif;
transition:0.8s;
}

nav{
background:var(--cardBg);
}

.navbar-brand h4{
color:var(--redColor) !important;
}

.navbar-toggler:hover{
outline:none;
}

#navbar{
transition:0.8s;
}

.nav-link {
color:var(--secondaryTextColor) !important;
}

.nav-link:hover {
color:var(--red) !important;
}


.btn-nav {
background:var(--redColor);
border-radius: 4px;
}

#themeToggler {
background:var(--textColor);
color:var(--bg);
}

#marker {
position:absolute;
bottom:8px;
background:var(--redColor);
height:4px;
width:0;
transition:0.3s;
}


#intro {
display: flex;
align-items:center;
height:100vh;
width:100%;
padding:0 40px;
background:url("https://www.pexels.com/photo/669996/download/?search_query=website%20background&tracking_id=c78g1q1r345") rgba(0,0,0,0.4);
background-repeat:no-repeat;
background-size: cover;
background-blend-mode: multiply;
}

#toTop {
display:none;
position: fixed;
bottom:10px;
right:10px;
background:var(--red);
color:var(--textColor);
z-index:10;
}

#intro h1{
color:var(--redColor);
}

#connect {
visibility:hidden;
position:absolute;
bottom:15%;
}

#connect img{
margin:2px;
background:#fff;
border-radius:8px;
box-shadow:  2px 2px 3px rgba(0,0,0,0.1), 
             -2px -2px 3px rgba(0,0,0,0.1);
}

#about {
padding:72px 40px 0 40px;
}

h2{
color:var(--textColor);
}

#about p{
font-size:1.25em;
color:var(--textColor);
}

#about img{
max-width:300px;
height:auto;
}


#skills h4{
color:var(--redColor);
}

.underline {
max-width:200px;
height:5px;
margin:10px auto;
background:var(--redColor);
}

#works {
padding:72px 40px 0 40px;
}

.card {
max-width:400px;
max-height:650px;
background:var(--cardBg);
}

.card img {
width:100%;
height:auto;
}

.card-title {
color:var(--textColor);
}

.card-text{
color:var(--secondaryTextColor);
}

#contact {
padding:72px 40px 0 40px;
}

.form-control {
border:0;
background: var(--formBg);
color:var(--secondaryTextColor);
transition:1s;
}

label {
color:var(--textColor);
}

.form-control:focus{
box-shadow:none;
background:var(--bg);
color:var(--secondaryTextColor);
border:2px solid rgba(231,27,82,0.5);
}

textarea {
resize:none;
}
 
#wave path{
fill:var(--bg);
transition:0.8s;
}
 
footer p{
font-family: 'Yellowtail', cursive;
font-size:1.25em;
padding-bottom:5px;
<style type="text/css">
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html{
--bg:#fff;
--textColor:#10101A;
--redColor:#DD003C;
--secondaryTextColor:#494F64;
--cardBg:#f7f7f7;
--formBg:#f7f7f7;
scroll-behavior: smooth;
}

html[data-theme="dark"]{
--bg:#121212;
--textColor:#fff;
--redColor:#F5807F;
--secondaryTextColor:#B6BAE1;
--cardBg:#232323; 
--formBg:#171717;
}


*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Poppins', sans-serif;
}

body {
width:100%;
background:var(--bg);
font-family: 'Poppins', sans-serif;
transition:0.8s;
}

nav{
background:var(--cardBg);
}

.navbar-brand h4{
color:var(--redColor) !important;
}

.navbar-toggler:hover{
outline:none;
}

#navbar{
transition:0.8s;
}

.nav-link {
color:var(--secondaryTextColor) !important;
}

.nav-link:hover {
color:var(--red) !important;
}


.btn-nav {
background:var(--redColor);
border-radius: 4px;
}

#themeToggler {
background:var(--textColor);
color:var(--bg);
}

#marker {
position:absolute;
bottom:8px;
background:var(--redColor);
height:4px;
width:0;
transition:0.3s;
}


#intro {
display: flex;
align-items:center;
height:100vh;
width:100%;
padding:0 40px;
background:url("https://www.pexels.com/photo/669996/download/?search_query=website%20background&tracking_id=c78g1q1r345") rgba(0,0,0,0.4);
background-repeat:no-repeat;
background-size: cover;
background-blend-mode: multiply;
}

#toTop {
display:none;
position: fixed;
bottom:10px;
right:10px;
background:var(--red);
color:var(--textColor);
z-index:10;
}

#intro h1{
color:var(--redColor);
}

#connect {
visibility:hidden;
position:absolute;
bottom:15%;
}

#connect img{
margin:2px;
background:#fff;
border-radius:8px;
box-shadow:  2px 2px 3px rgba(0,0,0,0.1), 
             -2px -2px 3px rgba(0,0,0,0.1);
}

#about {
padding:72px 40px 0 40px;
}

h2{
color:var(--textColor);
}

#about p{
font-size:1.25em;
color:var(--textColor);
}

#about img{
max-width:300px;
height:auto;
}


#skills h4{
color:var(--redColor);
}

.underline {
max-width:200px;
height:5px;
margin:10px auto;
background:var(--redColor);
}

#works {
padding:72px 40px 0 40px;
}

.card {
max-width:400px;
max-height:650px;
background:var(--cardBg);
}

.card img {
width:100%;
height:auto;
}

.card-title {
color:var(--textColor);
}

.card-text{
color:var(--secondaryTextColor);
}

#contact {
padding:72px 40px 0 40px;
}

.form-control {
border:0;
background: var(--formBg);
color:var(--secondaryTextColor);
transition:1s;
}

label {
color:var(--textColor);
}

.form-control:focus{
box-shadow:none;
background:var(--bg);
color:var(--secondaryTextColor);
border:2px solid rgba(231,27,82,0.5);
}

textarea {
resize:none;
}
 
#wave path{
fill:var(--bg);
transition:0.8s;
}
 
footer p{
font-family: 'Yellowtail', cursive;
font-size:1.25em;
padding-bottom:5px;
}
